
.inputText {
    background-color: var(--van-gray-2);
    border-radius: var(--van-button-round-border-radius);
    margin-top: 20px;
    /* background-color: #fff; */
}

.getCode {
    position: relative;
}

.getCodeBtn {
    transform: translateY(-50%);
    position: absolute;
    padding: 0 20px;
    right: 0;
    top: 50%;
    height: 40px;
    line-height: 40px;
    color: var(--van-blue);
    vertical-align: middle
}